<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thakur says</title>
    <style type="text/css">
        .content_header {
            display: grid;
            justify-content: center;
            text-align: center;
        }
        .chapter_no {
            font-size: 10.0pt;
            font-family: Verdana;
            font-weight: bold;
        }
        .chapter_title {
            font-size: 14.0pt;
        }
        .content_main {
            text-align: left;
        }
        .content_main p {
            font-family: Verdana;
            font-size: 10.0pt;
        }
        .section_heading {
            font-weight: bold;
            font-family: Verdana;
            font-size: 10.0pt;
        }
        .song_block {
            margin-left: 1.5em;
            font-style: italic;
        }

    </style>
</head>
<body>

<div class="content_header">
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Ramakrishna.jpg/384px-Ramakrishna.jpg"></div>
    <div><h3>Gospel of Sri Ramakrishna</h3></div>
    <div class="chapter_no">{{chapter_no}}</div>
    <div class="chapter_title"><p>{{chapter_title}}</p></div>
</div>
<div class="content_main">
    <div class="section_heading">{{section_heading}}</div>
    <div>
        {% set block_info = {'is_in_song': ''} %}
        {% for section_text_p in section_text %}
            {% if section_text_p.startswith('    ') %}
                 {% if block_info['is_in_song'] == '' %}
                     {% if block_info.update({'is_in_song': 'song_block'}) %}{% endif %}
                     <div class="song_block">
                 {% endif %}
                         <div>{{section_text_p}}</div>
            {% else %}
                 {% if block_info['is_in_song'] == 'song_block' %}
                     {% if block_info.update({'is_in_song': ''}) %}{% endif %}
                     </div>
                 {% endif %}
                 <p>{{section_text_p}}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>

</body>
</html>