<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thakur Says - Gospel - {{ chsec_long }}</title>
    <style type="text/css">
        .content_header {
            display: grid;
            justify-content: center;
            text-align: center;
        }
        .content_footer {
            display: grid;
            justify-content: center;
            text-align: center;
        }
        .chapter_no {
            font-size: 10.0pt;
            font-family: Verdana;
            font-weight: bold;
        }
        .chapter_title {
            font-size: 14.0pt;
        }
        .content_main {
            text-align: left;
        }
        .content_main p {
            font-family: Verdana;
            font-size: 10.0pt;
        }
        .section_heading {
            font-weight: bold;
            font-family: Verdana;
            font-size: 10.0pt;
        }
        .song_block {
            margin-left: 1.5em;
            font-style: italic;
        }

    </style>
</head>
<body>

<div class="content_header">
    <div><img src="{{ url_for('static', filename='images/384px-Ramakrishna.jpg') }}"></div>
    <table border="1">
        <thead>
        <tr>
            <td><a href="{{prev_chapter}}">&lt;&lt; Previous Chapter</a></td>
            <td><a href="{{chapter_beginning}}">|&lt; Chapter beginning</a></td>
            <td><a href="{{prev_section}}">&lt; Previous Section</a></td>
            <td>{{ chsec }}</td>
            <td><a href="{{next_section}}">Next Section &gt;</a></td>
            <td><a href="{{chapter_end}}">Chapter End &gt;|</a></td>
            <td><a href="{{next_chapter}}">Next Chapter &gt;&gt;</a></td>
            <td><a href="{{random_section}}">?? Random ??</a></td>
        </tr>
        </thead>
    </table>
    <div><h3>Gospel of Sri Ramakrishna</h3></div>
    <div class="chapter_no">{{chapter_no}}</div>
    <div class="chapter_title"><p>{{chapter_title}}</p></div>
</div>
<div class="content_main">
    <div class="section_heading">{{section_heading}}</div>
    <div class="section_text">{{section_text}} </div>
</div>
<div class="content_footer">
    <table>
        <thead>
        <tr>
            <td><a href="{{prev_chapter}}">&lt;&lt; Previous Chapter</a></td>
            <td><a href="{{chapter_beginning}}">|&lt; Chapter beginning</a></td>
            <td><a href="{{prev_section}}">&lt; Previous Section</a></td>
            <td>{{ chsec }}</td>
            <td><a href="{{next_section}}">Next Section &gt;</a></td>
            <td><a href="{{chapter_end}}">Chapter End &gt;|</a></td>
            <td><a href="{{next_chapter}}">Next Chapter &gt;&gt;</a></td>
            <td><a href="{{random_section}}">?? Random ??</a></td>
        </tr>
        </thead>
    </table>
</div>

</body>
</html>