<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thakur Says</title>
</head>
<body>
<img src="{{ url_for('static', filename='images/384px-Ramakrishna.jpg') }}">
<h1>Thakur Says...</h1>
<ul>
    <li><a href="{{url_for('gospel_page.read_random_section')}}">Read the Gospel of Sri Ramakrishna, section by section</a></li>
    <li><a href="#">Send by email a section from the Gospel of Sri Ramakrishna</a></li>
</ul>
</body>
</html>