body {
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background-image: url("/static/images/aruna_193_gray.jpg");
    background-position: right center;
    background-size: 1000px 666px; 
    color: #FFFFFF;

    text-shadow: 1px 0px 0 #4F4F4F,
                 0px 1px 0   #4F4F4F,
                 -1px 0px 0 #4F4F4F,
                 0px -1px 0   #4F4F4F,
                 -1px -1px 0 #4F4F4F,
                 -1px 1px 0   #4F4F4F,
                 1px -1px 0 #4F4F4F,
                 1px 1px 0   #4F4F4F;
    background-color: #4F4F4F;
}

