{% extends "base.html" %}

{% block title %}Admin page{% endblock %}

{% block page_header %}Greetings, {{user_name}}{% endblock %}

{% block page_content %}
<ul>
    <li><a href="{{ url_for('get_main_page_content') }}" role="button">Go back to Home page</a></li>
    <li><a href="{{ url_for('today_content') }}" role="button">See Today page</a></li>
    <li><a href="{{ url_for('daily_ramana_mail') }}" role="button">Test the mail that will go today</a></li>
    <li><a href="{{ url_for('load_correction') }}" role="button">Load or make corrections to content</a></li>
</ul>
{% endblock %}

