{% extends "bootstrap/base.html" %}

{% block metas %}
{{ super() }}
<meta content='text/html; charset=utf-8' http-equiv=content-Type />
<meta name="description" content="Read about Bhagavan Sri Ramana Maharshi & his teachings. Read excerpts from books: Talks with Sri Ramana Maharshi, Letters & Recollections from Sri Ramanasramam. Subscribe to mailing list." />
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='images/favicon.ico') }}" rel='icon' type='image/x-icon'/>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Daily Ramana Mail{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <img class="navbar-brand" alt="Ramana - Welling bust"
                 src="{{url_for('static', filename='images/Welling_12X14.jpg')}}"
                 style="height: 60px;"
            />
            <a class="navbar-brand" href="{{ url_for('get_main_page_content') }}">Daily Ramana Mail</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('today_content') }}">Today</a></li>
                <li><a href="{{ url_for('subscribe_handler') }}">Subscribe</a></li>
                <li><a href="{{ url_for('show_admin_page') }}">Admin</a></li>
                <li><a href="{{ url_for('reach_out') }}">Reach Out</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reading<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for content_src in content_sources %}
                        <li>
                            <a href="{{url_for('read_post')}}?post_name={{content_src.get_daily_post_name()}}">
                            {{content_src.get_source_name()}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.sriramanamaharshi.org" target="_blank" class="navbar-link">
                        More about Sri Ramana Maharshi
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="container"> 
    <div class="jumbotron navbar-collapse collapse">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12" align="center">
                        <b>ॐ नमो भगवते श्री रमणाय ।</b>
                    </div>
                    <div class="col-md-12" align="center">
                        <b>Om Namo Bhagavate Shri Ramanaya!</b>
                    </div>
                    <div class="col-md-12" align="center">
                        <img alt='Ramana - Welling bust' src="{{url_for('static', filename='images/Welling_12X14.jpg')}}" />
                    </div>
                    <div class="col-md-12" align="center">
                        <h4><b><i>Our own self-realization is the greatest service we can render the world.</i></b></h4>
                    </div>
                    <div class="col-md-12" align="center">
                        ~ Bhagavan Shri Ramana Maharshi
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
      {% block page_header %}{% endblock %}
    </div>
    {% with messages = get_flashed_messages(False, ['error']) %}
    {% if messages %}
    <div class="flashes alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Errors</h4>
        {% for message in messages %}
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(True) %}
    {% if messages %}
    <div class="flashes alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Messages</h4>
        {% for message in messages %}
            {% if message[0] != 'error' %}
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                {{ message }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  {% block page_content %}{% endblock %}
  <div class="footer">
    <hr/>
    {% block page_footer %}
    {% endblock %}
      <div class="col-md-12">
          <ul class="nav navbar-nav">
            <li ><a href="{{ url_for('get_main_page_content') }}" class="navbar-link">Home</a>
            </li>
            <li ><a href="{{ url_for('subscribe_handler') }}" class="navbar-link">Mailing list</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ><a href="{{ url_for('recent_today_feed') }}" class="navbar-link">Atom</a></li>
            <li ><a href="http://www.devtacular.com/utilities/atomtorss/?url={{
                        url_for('recent_today_feed', _external=True)}}"
                        class="navbar-link">RSS</a>
            </li>
          </ul>
      </div>
      <div class="col-md-12" align="center">
        <b>ॐ नमो भगवते श्री रमणाय</b>
      </div>
      <div class="col-md-12" align="center">
        <b>Om Namo Bhagavate Shri Ramanaya</b>
      </div>
      <div class="col-md-12" align="center">
        <h4><b><i>Our own self-realization is the greatest service we can render the world.</i></b></h4>
      </div>
      <div class="col-md-12" align="center">
        ~ Bhagavan Shri Ramana Maharshi
      </div>
  </div>
</div>
<input type="hidden" name="app_version" value="1"/>
{% endblock %}
