{% extends "base.html" %}

{% block title %}Content Loading & Corrections{% endblock %}

{% block page_header %}Proceed with caution!{% endblock %}

{% block page_content %}
<h2>Corrections</h2>
<form action="{{ url_for('load_correction') }}" method=post enctype=multipart/form-data>
    Index of the
    <select name="content_source">
        {% for content_src in content_sources %}
        <option value="{{content_src.get_daily_post_name()}}">
            {{content_src.get_daily_post_name()}} (1 - {{content_src.num_available_posts}})
        </option>
        {% endfor %}
    </select>
    <input type="text" name="index" /><br/>
    File containing corrected html content<input type="file" name=htmlfile accept="text/html"><br/>
    File containing corrected text content<input type="file" name=textfile accept="text/plain"><br/>
    <input type=submit value="Upload new correction" />

</form>
<hr/>
<form action="{{ url_for('review_correction') }}" method=post enctype=multipart/form-data>
    Index of the
    <select name="content_source">
        {% for content_src in content_sources %}
        <option value="{{content_src.get_daily_post_name()}}">
            {{content_src.get_daily_post_name()}} (1 - {{content_src.num_available_posts}})
        </option>
        {% endfor %}
    </select>
    <input type="text" name="index" />
    <input type=submit value="Review existing draft correction" />

</form>
<hr/>
<h2>Content upload</h2>
<form action="{{ url_for('load_post_contents') }}" method=post enctype=multipart/form-data>
    JSON File with content<input type="file" name=jsonfile accept="application/json"><br/>
    <input type=submit value="Load contents" />
</form>

{% endblock %}
