<div>
    <table>
        <thead>
        <tr>
            <th>
                <img alt='Ramana - Welling bust'
                     src="{{url_for('static', filename='images/Welling_12X14.jpg', _external=True)}}" />
            </th>
        </tr>
        <tr>
            <th>
                {{source_name}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{one_day_html|safe}}
            </td>
        </tr>
        <tr>
            <td>
                Click <a href="{{url_for('read_post', _external=True)}}?post_name={{post_name}}&index={{post_index}}">
                 here
                </a> to read further.
            </td>
        </tr>
        </tbody>
    </table>
</div>
