{% extends "base.html" %}

{% block page_header %}<h4>Welcome to the Daily Ramana Mail service.</h4>{% endblock %}

{% block page_content %}
   <table>
    <tbody>
     <tr>
      <td>
       Receive one mail everyday with an extract from
       one of the books on <b>Bhagavan Shri Ramana Maharshi</b>.<br />
       The mails being sent currently take content from
       the following books:<br>
       <ul>
        {% for content_src in content_sources %}
        <li>{{content_src.get_source_name()}}</li>
        {% endfor %}
       </ul>
      </td>
     </tr>
     <tr>
     <tr>
      <td>
       Read today's post <a href="{{ url_for('today_content') }}">here</a>.
      </td>
     </tr>
     <tr>
      <td>
       To subscribe to Daily Ramana Mail service, please <a href="{{ url_for('subscribe_handler') }}">click here</a>.
      </td>
     </tr>
     <tr>
      <td>
      For more information about the Life & Teachings of Bhagavan Shri Ramana Maharshi,
      please visit <a href="http://sriramanamaharshi.org" target="_blank">Sri Ramanasramam website</a>.
      </td>
     </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><a href="{{ url_for('show_admin_page') }}">Admin page</a> (only for administrators)</td>
    </tr>
    </tfoot>
   </table>
{% endblock %}

