{% extends "base.html" %}

{% block title %}Reach Out{% endblock %}

{% block page_header %}<h4>Reach out to us</h4>{% endblock %}

{% block page_content %}
<div>
    <span style="font-size: 24px;">&#128231;&nbsp;</span>
    <span id="addval" style="font-family: Consolas,monospace;"></span>
    <!-- <a id="copy_button" href="#" class="btn btn-light" role="button">Copy to Clipboard</a> -->
</div>

{% endblock %}

{% block scripts %}
        {{ super() }}
<script src="{{ url_for('static', filename='js/reach_out.js') }}"></script>
{% endblock %}
