{% extends "base.html" %}

{% block title %}{{post_name}} {{post_index}} from {{source_name_heading}}{% endblock %}

{% block page_header %}
  <h4><span id="source_name_heading">{{source_name_heading}}</span></h4>
{% endblock %}

{% block page_content %}
<table>
    <tbody>
    <tr>
        <td>
            <div class="navbar-header">
            <!-- <ul id="content_paginator_top"></ul> -->
            <ul class="pager" id="pager_top">
                <li><a id="first_button_top" href="#top">|&lt;</a></li>
                <li><a id="prev_5_button_top" href="#top">&lt;&lt;</a></li>
                <li><a id="prev_button_top" href="#top">&lt;</a></li>
                <li><a id="next_button_top" href="#top">&gt;</a></li>
                <li><a id="next_5_button_top" href="#top">&gt;&gt;</a></li>
                <li><a id="last_button_top" href="#top">&gt;|</a></li>
            </ul>
        </div>
        </td>
    </tr>
    <tr>
        <th><div id="content_post_title">{{post_index}} &ndash; {{post_title}}</div></th>
    </tr>
    <tr>
        <td>
            <div id="content_html_data">{{content_html_data|safe}}</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="navbar-header">
            <ul class="pager" id="pager_bottom">
                <li><a id="first_button_bottom" href="#top">|&lt;</a></li>
                <li><a id="prev_5_button_bottom" href="#top">&lt;&lt;</a></li>
                <li><a id="prev_button_bottom" href="#top">&lt;</a></li>
                <li><a id="next_button_bottom" href="#top">&gt;</a></li>
                <li><a id="next_5_button_bottom" href="#top">&gt;&gt;</a></li>
                <li><a id="last_button_bottom" href="#top">&gt;|</a></li>
            </ul>
            <!-- <ul id="content_paginator_bottom"></ul> -->
            </div>
        </td>
    </tr>
    </tbody>
</table>
<input type="hidden" id="num_available_posts" value="{{num_available_posts}}" />
<input type="hidden" id="post_name" value="{{post_name}}" />
<input type="hidden" id="post_index" value="{{post_index}}" />
{% endblock %}

{% block scripts %}
        {{ super() }}
<script type="text/javascript">
  var PAGE_NAME = "reading";
  var FETCH_CONTENT_URL = "{{url_for('fetch_content', _external=True)}}";
  var READING_PAGE_URL = "{{url_for('read_post', _external=True)}}";
</script>
<script src="{{ url_for('static', filename='js/reading_page.js') }}" ></script>
{% endblock %}
