<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Review correction differences</title>
    <style type="text/css">
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
</head>
<body style="margin:0px;">
    <div id="top-section" align="center" style="position:fixed; width:100%; background:white;">

        <h1>Correction confirmation of {{content_src_name}} {{index}}</h1>
        <table width="100%">
            <tbody>
            <tr>
                <th align="center">
                    <form action="/load_correction_discard" method="post">
                        <input type="hidden" name="correction_id" value="{{correction_id}}"/>
                        <input type="submit" value="Keep old version"/>
                    </form>
                </th>
                <th align="center">
                    <form action="/load_correction">
                        <input type="submit" value="Review later"/>
                    </form>
                </th>
                <th align="center">
                    <form action="/load_correction_confirm" method="post">
                        <input type="hidden" name="correction_id" value="{{correction_id}}"/>
                        <input type="submit" value="Overwrite with new version"/>
                    </form>

                </th>
            </tr>
            </tbody>
        </table>

        <h2>Review the differences</h2>
    </div> <!-- top-section -->
    <div id="all_diff" style="padding-top:12em;">

        <table width="100%">
            <thead>
            <tr><th align="center">Old Text</th><th align="center">New Text</th></tr>
            </thead>
        </table>
         {{txt_diff_table|safe}}
        <br><h3>HTML difference</h3>
         {{html_diff_table|safe}}
        <table>
        <thead>
        <tr>
            <th width="50%">Old HTML rendered</th>
            <th width="50%">New HTML rendered</th>
        </tr>
        </thead>
        </table>

        <table>
        <tbody>

        <tr>
            <td width="50%">
                <table border="1">
                    <tbody><tr><td>{{old_html|safe}}</td></tr></tbody>
                </table>
            </td>
            <td width="50%">
                <table border="1">
                    <tbody><tr><td>{{new_html|safe}}</td></tr></tbody>
                </table>
            </td>
        </tr>
        </tbody>
        </table>

    </div>

</body>
</html>