{% extends "base.html" %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="Refresh" content="3; url=https://groups.google.com/forum/#!forum/ramana-talk-mailer/join" />
{% endblock %}

{% block title %}Daily Ramana Mail subscription{% endblock %}
{% block page_header %}Daily Ramana Mail subscription{% endblock %}

{% block page_content %}
You will be redirected to &nbsp;
<a href="https://groups.google.com/forum/#!forum/ramana-talk-mailer/join">subscription page</a> in 3 seconds.<br />
Click the link if nothing happens.
{% endblock %}

