{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('recent_today_feed') }}"
      rel="alternate"
      title="Today's Ramana page - Recent Posts (Atom)"
      type="application/atom+xml">
<link rel="alternate" type="application/rss+xml"
      href="http://www.devtacular.com/utilities/atomtorss/?url={{ url_for('recent_today_feed', _external=True) }}"
      title="Today's Ramana page - Recent Posts (RSS)">
{% endblock %}

{% block title %}Today's Ramana Page - {{post_name}} {{post_index}}{% endblock %}

{% block page_header %}<h4><span id="source_name_heading"></span></h4>{% endblock %}

{% block page_content %}
  <div id="content_html_data"></div>
  <input type="hidden" id="num_available_posts" value="0" />
  <input type="hidden" id="post_name" value="{{post_name}}" />
  <input type="hidden" id="post_index" value="{{post_index}}" />
  Click <a href="{{url_for('read_post', _external=True)}}?post_name={{post_name}}&index={{post_index}}">
    here
  </a> to read further.
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var PAGE_NAME = "today";
  var FETCH_CONTENT_URL = "{{url_for('fetch_content', _external=True)}}";
  var READING_PAGE_URL = "{{url_for('read_post', _external=True)}}";
</script>
<script src="{{ url_for('static', filename='js/reading_page.js') }}" ></script>
{% endblock %}
